.gallery-section {
  padding-top: 25px;
  padding-bottom: 25px;
  scroll-margin-top: 60px;

  @include media(desktop) {
    scroll-margin-top: 70px;
    padding-top: 55px;
    padding-bottom: 55px;
  }
}

.gallery-section-wrapper {
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  position: relative;

  @include media(desktop) {
    max-width: 1440px;
  }
}

.gallery-container {
  padding-left: 0;
  padding-right: 0;
}

.gallery-title {
  margin-bottom: 20px;

  @include media(desktop) {
    margin-bottom: 48px;
  }
}

.controls {
  display: none;

  @include media(desktop) {
    position: absolute;
    top: 23px;
    left: 72px;
    width: 100%;
    max-width: 1296px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
}

.arrow-btn {
  transition: transform 0.3s ease-in-out;
  background: none;
  border: none;
  cursor: pointer;
  display: none;

  &:hover {
    transform: scale(1.2);
  }

  &[disabled] {
    opacity: 0.5;
    cursor: not-allowed;

    &:hover {
      transform: none;
    }
  }
}

.arrow-icon {
  @include media(desktop) {
    fill: none;
    stroke: #373330;
  }
}

.left-arrow-icon {
  transform: rotate(180deg);
}

.gallery-swiper-container {
  max-width: 345px;
  margin-left: auto;
  margin-right: auto;
  // visibility: hidden;

  @include media(desktop) {
    max-width: 1440px;
  }
}

.gallery-swiper-container.show {
  visibility: visible;
}

.gallery-slide {
  padding: 0;
  max-width: 345px;
  // height: 327px !important;

  @include media(desktop) {
    max-width: 306px;
  }
}

.dots {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  padding-bottom: 2px;

  @include media(desktop) {
    display: none;
  }
}

.gallery-dot {
  width: 4px;
  height: 4px;
  transition: transform 0.3s ease-in-out;
  border-radius: 100%;
  background-color: #373330;
  cursor: pointer;
}

.gallery-dot.active {
  transform: scale(2);
}
