.policy-section {
  padding-top: 111px;
  padding-bottom: 50px;

  @include media(desktop) {
  }
}

.policy-container {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  gap: 1em;
}

.policy-title {
  font-family: 'Cinzel', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #373330;
  text-align: center;
  word-break: break-word;

  @include media(desktop) {
  }
}

.policy-text {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #373330;

  @include media(desktop) {
  }
}

.policy-subtitle {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #373330;
  word-break: break-word;

  @include media(desktop) {
    font-size: 28px;
  }
}

.policy-list {
  list-style-type: disc;
  padding-left: 30px;
}

.policy-span {
  font-weight: 500;
}

.policy-link {
  font-weight: 300;
  font-size: 18px;
  text-decoration-skip-ink: none;
  text-decoration: underline;
  word-break: break-word;

  @include media(desktop) {
  }
}

.policy-support-link {
  font-weight: 300;
  font-size: 18px;
  text-decoration-skip-ink: none;
  word-break: break-word;
}
