<section class="contacts-section" id="contacts">
  <div class="container contacts-container">
    <h2 class="contacts-title section-title">Contattaci</h2>
    <picture>
      <source
        srcset="./img/contacts/contacts-girl-desk.png"
        media="(min-width: 1440px)"
        width="526"
        height="683"
      />
      <source
        srcset="./img/contacts/contacts-girl-mob.png"
        width="345"
        height="380"
      />
      <img
        class="contacts-img"
        src="./img/contacts/contacts-girl-mob.png"
        alt="Girl decorating facade"
        width="345"
        height="380"
        loading="lazy"
      />
    </picture>
  </div>
</section>
