<section class="policy-section">
  <div class="container policy-container">
    <h1 class="policy-title">Politica sui cookie</h1>
    <p class="policy-text">
      Questa Informativa sui cookie spiega cosa sono i cookie e come li
      utilizziamo. Dovresti leggere questa informativa in modo da comprendere
      che tipo di cookie utilizziamo, o le informazioni che raccogliamo tramite
      i cookie e come tali informazioni vengono utilizzate.<br />
      I cookie in genere non contengono informazioni che identificano
      personalmente un utente, ma le informazioni personali che memorizziamo su
      di te possono essere collegate alle informazioni memorizzate e ottenute
      dai cookie. Per ulteriori informazioni su come utilizziamo, memorizziamo e
      proteggiamo i tuoi dati personali, consulta la nostra Informativa sulla
      privacy.<br />
      Non memorizziamo informazioni personali sensibili, come indirizzi postali,
      password di account, ecc. nei cookie che utilizziamo.
    </p>
    <h2 class="policy-subtitle">Interpretazione e definizioni</h2>
    <h2 class="policy-subtitle">Interpretazione</h2>
    <p class="policy-text">
      Le parole la cui lettera iniziale è maiuscola hanno significati definiti
      nelle seguenti condizioni. Le seguenti definizioni avranno lo stesso
      significato indipendentemente dal fatto che appaiano al singolare o al
      plurale.
    </p>
    <h2 class="policy-subtitle">Definizioni</h2>
    <p class="policy-text">Ai fini della presente Politica sui cookie:</p>
    <ul class="policy-list">
      <li>
        <p class="policy-text">
          <span class="policy-span">Società</span>
          (denominata "la Società", "Noi", "Ci" o "Nostro" nel presente
          Contratto) si riferisce a acheckabout.
        </p>
      </li>
      <li>
        <p class="policy-text">
          <span class="policy-span">Cookie</span>
          indica piccoli file che vengono inseriti sul tuo computer, dispositivo
          mobile o qualsiasi altro dispositivo da un sito Web, contenenti
          dettagli della tua cronologia di navigazione su tale sito Web tra i
          suoi numerosi utilizzi.
        </p>
      </li>
      <li>
        <p class="policy-text">
          <span class="policy-span">Sito</span>
          web si riferisce a acheckabout, accessibile da
          <a href="acheckabout.com" class="policy-link">acheckabout.com</a>
        </p>
      </li>
      <li>
        <p class="policy-text">
          <span class="policy-span">Tu</span>
          si riferisce all'individuo che accede o utilizza il Servizio, o alla
          società, o altra entità legale per conto della quale tale individuo
          accede o utilizza il Servizio, a seconda dei casi.
        </p>
      </li>
    </ul>
    <h2 class="policy-subtitle">Tipo di Cookie che utilizziamo</h2>
    <p class="policy-text">
      I cookie possono essere cookie "persistenti" o "di sessione". I cookie
      persistenti rimangono sul tuo computer personale o dispositivo mobile
      quando vai offline, mentre i cookie di sessione vengono eliminati non
      appena chiudi il browser web.
    </p>
    <p class="policy-text">
      Utilizziamo sia Cookie di sessione che Cookie persistenti per gli scopi
      indicati di seguito:
    </p>
    <ul class="policy-list">
      <li>
        <p class="policy-text">
          <span class="policy-span">Cookie necessari/essenziali</span>
          Tipo: Cookie di sessione<br />
          Amministrati da: Noi<br />
          Scopo: Questi Cookie sono essenziali per fornirti i servizi
          disponibili tramite il Sito Web e per consentirti di utilizzare alcune
          delle sue funzionalità. Aiutano ad autenticare gli utenti e a
          prevenire l'uso fraudolento degli account utente. Senza questi Cookie,
          i servizi che hai richiesto non possono essere forniti e utilizziamo
          questi Cookie solo per fornirti tali servizi.
        </p>
      </li>
      <li>
        <p class="policy-text">
          <span class="policy-span">Cookie di funzionalità</span>
          Tipo: Cookie persistenti<br />
          Amministrati da: Noi<br />
          Scopo: Questi cookie ci consentono di ricordare le scelte che fai
          quando utilizzi il sito Web, come ricordare i tuoi dati di accesso o
          la preferenza di lingua. Lo scopo di questi cookie è di offrirti
          un'esperienza più personale ed evitare che tu debba reinserire le tue
          preferenze ogni volta che utilizzi il sito Web.
        </p>
      </li>
    </ul>
    <p class="policy-text">
      Per maggiori informazioni sui cookie che utilizziamo e sulle tue scelte in
      merito ai cookie, visita la nostra Politica sui cookie o la sezione Cookie
      della nostra Politica sulla privacy.
    </p>
    <h2 class="policy-subtitle">Le tue scelte in merito ai cookie</h2>
    <p class="policy-text">
      Se preferisci evitare l'uso dei cookie sul sito Web, devi prima
      disabilitare l'uso dei cookie nel tuo browser e quindi eliminare i cookie
      salvati nel tuo browser associati a questo sito Web. Puoi utilizzare
      questa opzione per impedire l'uso dei cookie in qualsiasi momento.
    </p>
    <p class="policy-text">
      Se non accetti i nostri cookie, potresti riscontrare qualche inconveniente
      nell'utilizzo del sito Web e alcune funzionalità potrebbero non funzionare
      correttamente.
    </p>
    <p class="policy-text">
      Se desideri eliminare i cookie o indicare al tuo browser Web di eliminare
      o rifiutare i cookie, visita le pagine di aiuto del tuo browser Web.
    </p>
    <ul class="policy-list">
      <li>
        <p class="policy-text">
          Per il browser Web Chrome, visita questa pagina di Google:
          <a
            class="policy-link"
            href="https://support.google.com/accounts/answer/32050"
            >https://support.google.com/accounts/answer/32050</a
          >
        </p>
      </li>
      <li>
        <p class="policy-text">
          Per il browser Web Internet Explorer, visita questa pagina da
          Microsoft:
          <a class="policy-link" href="http://support.microsoft.com/kb/278835"
            >http://support.microsoft.com/kb/278835</a
          >
        </p>
      </li>
      <li>
        <p class="policy-text">
          Per il browser web Firefox, visita questa pagina di Mozilla:
          <a
            class="policy-link"
            href="https://support.mozilla.org/en-US/kb/delete-cookies-remove-info-websites-stored"
            >https://support.mozilla.org/en-US/kb/delete-cookies-remove-info-websites-stored</a
          >
        </p>
      </li>
      <li>
        <p class="policy-text">
          Per il browser web Safari, visita questa pagina di Apple:
          <a
            class="policy-link"
            href="https://support.apple.com/guide/safari/manage-cookies-and-website-data-sfri11471/mac"
            >https://support.apple.com/guide/safari/manage-cookies-and-website-data-sfri11471/mac</a
          >
        </p>
      </li>
    </ul>
    <p class="policy-text">
      Per qualsiasi altro browser web, visita le pagine web ufficiali del tuo
      browser web.
    </p>
    <h2 class="policy-subtitle">Ulteriori informazioni sui cookie</h2>
    <p class="policy-text">
      Puoi saperne di più sui cookie:
      <a
        href="https://www.freeprivacypolicy.com/blog/cookies/"
        class="policy-link"
        >Cookie</a
      ><br />
      Questa politica sui cookie è effettiva a partire da 2025-04-14
    </p>
    <h2 class="policy-subtitle">Contattaci</h2>
    <p class="policy-text">
      Se hai domande su questa politica sui cookie, puoi contattarci tramite
      e-mail:
      <a class="policy-support-link" href="mailto:info@acheckabout.com"
        >info@acheckabout.com</a
      >.
    </p>
  </div>
</section>
